@{
    ViewBag.Title = "Submit a Suggestions";
    ViewBag.PageTitle = "Submit a Suggestion for a Restaurant.";
}
@model FoodieApp.Models.Suggestion 

<div>
    <!--this form is for the new suggestions to be made-->
    <form asp-action="Submit" method="post" id="myForm">
        <div>
            <label asp-for="Name">Your Name:</label>
            <input asp-for="Name" />
        </div>

        <div>
            <label asp-for="RestaurantName">Restaurant Name:</label>
            <input asp-for="RestaurantName" />
        </div>

        <div>
            <label asp-for="FavoriteDish">Favorite Dish:</label>
            <input asp-for="FavoriteDish" />
        </div>

        <div>
            <label asp-for="RestaurantPhone">Restaurant Phone:</label>
            <input asp-for="RestaurantPhone" />
        </div>

        <button type="submit">Submit Your Suggestion</button>
        <div asp-validation-summary="All"></div>

    </form>
</div>